---
import LeftArrow from "./LeftArrow"
---

<a class="btn " href="/tienda-de-juegos/encontrador">
  <LeftArrow client:visible/>
  <span
    class="flex items-start justify-start ml-2 font-sans font-bold text-left md:flex-col"
    >Retroceder una página</span
  >
</a>
